@model FosterSite.Models.FosterTable

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Foster Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Foster_Family)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foster_Family)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type_of_Home)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type_of_Home)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licensed_Beds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licensed_Beds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupied_Beds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occupied_Beds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Available_Beds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available_Beds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Min_Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Min_Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Max_Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Max_Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preferred_Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preferred_Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
