@model FosterSite.Models.FosterTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FosterTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Foster_Family_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foster_Family_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type_of_Home)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type_of_Home)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_of_Licensed_Beds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_of_Licensed_Beds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_of_Occupied_Beds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_of_Occupied_Beds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_of_Available_Beds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_of_Available_Beds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Minimum_Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minimum_Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maximum_Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maximum_Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender_Preferance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender_Preferance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Managing_Agency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Managing_Agency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Point_of_Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point_of_Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Family_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
